[Unit]
Description=Elevator Motion Detection Service
After=network.target dev-i2c-1.device
Requires=dev-i2c-1.device

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/elevator_app
Restart=on-failure
User=root
Group=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=elevator_app

[Install]
WantedBy=multi-user.target