[Unit]
Description=GY91 and GY63 Sensor Service
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/gy9163-sensor-system
ExecStart=/usr/bin/python3 src/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
